body {
    background-color: #f7f7f7;
    width: 1020px;
    align-content: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header__info-title,
.header__contacts-title,
.cv__item-title {
    float: left;
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    padding: 0px 15px 15px;
}
.header__contacts-item {
    margin-bottom: 15px;
}
.header__contacts{
    float: left;
}
.header__contacts-title {
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 15px;
}
.header__contacts-text,
.cv__item-text,
.cv__item-link,
.cv__item-list {
    text-decoration: none;

    text-align: left;
    color: #40678a;
    font-size: 20px;
    font-weight: 100;
}

.header__contacts-text:hover {
    text-decoration: underline;
}

.main {
    padding: 30px 15px;
}

.cv__item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px dotted white;
}
.cv__item-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.cv__item-link {
    text-decoration: none;
    transition: color .2s linear;
}

.cv__item-link:hover {
    color: white;
    text-decoration: underline;
}
.cv__item-list {
    list-style: none;
    display: inline;
    padding-left: 10px;
}
.cv__item-list:before{
    content: '✔';
}

.footer {
   background-color: #434445;
    padding: 30px 0px;
}
.footer__item-title{
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding: 20px 60px;
    display: inline;
}
.footer__link {
    font-size: 30px;
    color: #a4a4a4;
    text-decoration: none;
}
.footer__link:hover {
    text-transform: uppercase;
    color: #eeeeee;
}